{{#if isText}}

<div class="post text"  data-type="{{type}}" data-tags={{tags}} data-date="{{date}}" date-title="{{title}}">
    <p class="text-post">{{text}}</p>
</div>

{{else if isImg}}

<div class="post img" data-type="{{type}}" data-tags={{tags}} data-date="{{date}}" date-title="{{title}}">
    <img class="image-post" src="{{photoURL}}" alt="{{title}}" />
</div>


{{else}}
<div class="post list"  data-type="{{type}}" data-tags={{tags}} data-date="{{date}}" date-title="{{title}}">
    <h2 class="list-title">{{listTitle}}</h2>
    <ul class="list">
        {{#each  text}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
</div>


{{/if}}
