<div class="post list"  data-type="{{type}}" data-tags={{tags}} data-date="{{date}}" date-title="{{title}}">
    <h2 class="list-title">{{listTitle}}</h2>
    <ul class="list">
        {{#each  text}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
</div>
